@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url(QldXNThLqRwH-OJ1UHjlKGHiw71p5_o.woff) format('woff');
}
